body #TicTacToe #info p, body #TicTacToe #Players p {
  font-weight: bold;
  font-size: large; }

body {
  min-width: 1348px;
  background-color: #C4D5D5; }
  body #TicTacToe {
    position: relative;
    /*
    .o {
      background-image: url(/images/o.jpg);
      background-size: 100% 100%;
    }
    .x {
      background-image: url(/images/x.jpg);
      background-size: 100% 100%;
    }*/ }
    body #TicTacToe h1 {
      text-align: center; }
    body #TicTacToe #info {
      width: 250px;
      position: absolute;
      left: 0;
      padding: 0 50px 0; }
      body #TicTacToe #info .displaybox {
        border: 1px solid;
        min-height: 23px;
        padding: 2px 5px 2px; }
      body #TicTacToe #info .ready {
        margin: 0 10px;
        color: #DA4748; }
    body #TicTacToe #chessboard {
      position: relative;
      width: 648px;
      height: 648px;
      margin: auto; }
      body #TicTacToe #chessboard #chessboardsvg {
        background-color: #40C1AF;
        width: 648px;
        height: 648px; }
        body #TicTacToe #chessboard #chessboardsvg svg {
          width: 100%;
          height: 100%; }
          body #TicTacToe #chessboard #chessboardsvg svg path {
            stroke-dasharray: 102;
            stroke: #0da192;
            stroke-width: 6px;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95); }
      body #TicTacToe #chessboard table {
        border-spacing: 18px;
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 648px;
        height: 648px; }
        body #TicTacToe #chessboard table td {
          padding: 20px;
          width: 152px;
          height: 152px; }
          body #TicTacToe #chessboard table td svg {
            width: 100%;
            height: 100%; }
          body #TicTacToe #chessboard table td path {
            transition: stroke-dashoffset 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95); }
        @media screen and (max-width: 480px) {
          body #TicTacToe #chessboard table td {
            width: 33.333%;
            height: 33.333%; } }
    body #TicTacToe #Players {
      width: 250px;
      position: absolute;
      right: 0;
      padding: 0 50px 0; }
    body #TicTacToe #Buttons {
      width: 600px;
      margin: 0 auto; }
      body #TicTacToe #Buttons button {
        padding: 5px;
        margin: 10px; }
